{% extends 'layout/layout.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}assets/global/plugins/select2/select2.css"/>
{% endblock %}

{% block title %}{{ parent() }} Partner Link {% endblock %}

{% block navbar %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
{% endblock %}

{% block content %}	
	<h3 class="page-title">
	Partner Link <small>manajemen partner link</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="{{ base_url('dashboard') }}">Dashboard</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="{{ base_url('partnerlink') }}">Partner link</a>
			</li>
		</ul>
	</div>

	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-users"></i>Partner Link
					</div>
					<div class="tools">
					</div>
				</div>
				<div class="portlet-body">
					{% if session.group_id == 2 %}
					<div class="table-toolbar">
						<div class="row">
							<div class="col-md-6">
								<div class="btn-group">
									<a href="{{ base_url() }}partnerlink/create" id="sample_editable_1_new" class="btn green">
									Tambah <i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
					<tr>
						<th>
							No
						</th>
						<th>
							Nama Lengkap
						</th>
						<th>
							Email
						</th>
						<th>
							No Telepon
						</th>
						<th>
							Point
						</th>
						<th>
							Master Link
						</th>
						<th>
							Status
						</th>
						<th>
							Action
						</th>
					</tr>
					</thead>
					<tbody>
					{% set i = 1 %}
					{% for user in users %}
						<tr>
							<td>
								{{ i }}
							</td>
							<td>
								{{ user.full_name }}
							</td>
							<td>
								{{ user.email }}
							</td>
							<td>
								{{ user.phone }}
							</td>
							<td>
								IDR {{ user.point|number_format(2, ',', '.') }}
							</td>
							<td>
								<a href="{{ base_url() }}masterlink/show/{{ user.user_id }}">{{ user.user.full_name }}</a>
							</td>
							<td>
								{% if session.group_id == 1 %}
									{% if user.active == 0 %}
										<a style="text-decoration:none; cursor:pointer;" onclick="setStatus({{ user.id }}, '{{ user.full_name }}', 0)"><span class="label label-sm label-danger">Tidak Aktif</span></a>
									{% else %}
										<a style="text-decoration:none; cursor:pointer" onclick="setStatus({{ user.id }}, '{{ user.full_name }}', 1)"><span class="label label-sm label-success">Aktif</span></a>
									{% endif %}
								{% else %}
									{% if user.active == 0 %}
										<span class="label label-sm label-danger">Tidak Aktif</span>
									{% else %}
										<span class="label label-sm label-success">Aktif</span>
									{% endif %}
								{% endif %}
							</td>
							<td>
								<a href="{{ base_url() }}partnerlink/show/{{ user.id }}" class="btn default btn-xs blue">Show</a>
								<a href="{{ base_url() }}partnerlink/edit/{{ user.id }}" class="btn default btn-xs purple">Edit</a>
								<button onclick="delete_data({{ user.id }})" class="btn default btn-xs red">Delete</button>
							</td>
						</tr>
						{% set i = i + 1 %}
					{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
	<div class="modal fade" id="modalStatus" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="{{ base_url() }}partnerlink/set_status">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Ubah Status</h4>
				</div>
				<div class="modal-body">
					 <div class="form-body">
					 	<input type="hidden" name="id" id="id">
					 	<div class="form-group form-md-line-input">
							<input type="text" class="form-control" id="name" name="name" required>
							<label for="form_control_1">Nama</label>
						</div>
						<div class="form-group form-md-radios">
							<label>Status</label>
							<div class="md-radio-inline">
								<div class="md-radio">
									<input type="radio" id="radio14" name="status" value="1" class="md-radiobtn">
									<label for="radio14">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									Aktif </label>
								</div>
								<div class="md-radio">
									<input type="radio" id="radio15" name="status" value="0" class="md-radiobtn">
									<label for="radio15">
									<span></span>
									<span class="check"></span>
									<span class="box"></span>
									Tidak Aktif </label>
								</div>
							</div>
						</div>
					 </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn blue">Ubah Status</button>
				</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
	<script src="{{ base_url() }}assets/admin/pages/scripts/table-advanced.js"></script>
	<script src="{{ base_url() }}assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	<script type="text/javascript">TableAdvanced.init();</script>
	<script type="text/javascript">
		function delete_data(id)
		{
			bootbox.confirm("Anda yakin menghapus data ini?", function(result) {
               if(result)
               {
               	document.location = '{{ base_url() }}partnerlink/delete/' + id;
               }
            }); 
		}

		function setStatus(id, name, status)
		{
			$('#id').val(id);
			$('#name').val(name);
			if(status == 1)
			{
				$('#radio14').attr('checked', 'checked');
			}
			else
			{
				$('#radio15').attr('checked', 'checked');
			}
			$('#modalStatus').modal().show();
		}
	</script>
{% endblock %}